@import "tailwindcss";

@layer base {
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative; 
  }
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }
}