.main-greeting {
  color: #a1a5ac;
  background-image: linear-gradient(60deg, #a2a6ad, #7a7c84, #45484c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.main-greeting:hover {
  color: #a1a5ac;
  background-image: linear-gradient(60deg, #22929e, #feb14f, #6372c3, #636ec0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.list-el {
  font-weight: 400;
  font-size: 24px;
  color: #8b8f95;
  display: inline-block;
}

.linkedin-link:hover,
.linkedin-link:active {
  color: #22929e;
  text-decoration: none;

  text-shadow:
    0 0 30px #22929e, 
    0 0 40px #26a0ae,
    0 0 70px #2dbecf;
}

.email-link:hover,
.email-link:active {
  color: #efc94a;
  text-decoration: none;

  text-shadow:
    0 0 30px #efc94a, 
    0 0 40px #f4d674,
    0 0 70px #efc94a;
}

.x-link:hover,
.x-link:active {
  color: #f45f47;
  text-decoration: none;

  text-shadow: 
    0 0 20px #f45f47, 
    0 0 30px #f45f47, 
    0 0 40px #f07663,
    0 0 70px #f45f47;
}

.resume-link:hover,
.resume-link:active {
  color: #636ec0;
  text-decoration: none;

  text-shadow:
    0 0 30px #636ec0, 
    0 0 40px #7c83bc,
    0 0 70px #636ec0;
}

.image-1 {
  position: relative;
  top: -500px;
  left: 30px;
  transform: rotate(-5deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-1:hover {
  transform: rotate(0deg) translateY(-15px);
  z-index: 10;
}

.image-2 {
  position: relative;
  top: -175px;
  left: 400px;
  transform: rotate(-7deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-2:hover {
  transform: rotate(0deg) translateY(-15px);
  z-index: 10;
}

.scroll-hero {
  position: fixed;
  bottom: 20;
  left: 0;
  width: 100%;
  display: flex; 
  justify-content: center;
}

.scroll-section-container {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.scroll-section-container.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.message-bubble {
  position: relative;
  top: -480px;
  left: 520px;
  transform: rotate(20deg);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}